<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.model.Order" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="u_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="m_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ph_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sp_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="state" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, u_id, m_id, ph_id, sp_id, create_time, price, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.model.Order" >
    insert into order (id, u_id, m_id, 
      ph_id, sp_id, create_time, 
      price, state)
    values (#{id,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, 
      #{phId,jdbcType=INTEGER}, #{spId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{price,jdbcType=DECIMAL}, #{state,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.model.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uId != null" >
        u_id,
      </if>
      <if test="mId != null" >
        m_id,
      </if>
      <if test="phId != null" >
        ph_id,
      </if>
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uId != null" >
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="phId != null" >
        #{phId,jdbcType=INTEGER},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.model.Order" >
    update order
    <set >
      <if test="uId != null" >
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        m_id = #{mId,jdbcType=INTEGER},
      </if>
      <if test="phId != null" >
        ph_id = #{phId,jdbcType=INTEGER},
      </if>
      <if test="spId != null" >
        sp_id = #{spId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.Order" >
    update order
    set u_id = #{uId,jdbcType=INTEGER},
      m_id = #{mId,jdbcType=INTEGER},
      ph_id = #{phId,jdbcType=INTEGER},
      sp_id = #{spId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      price = #{price,jdbcType=DECIMAL},
      state = #{state,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>