<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.SalePackageMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.model.SalePackage" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="m_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ph_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="available_time" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, m_id, ph_id, available_time, price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from salepackage
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from salepackage
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.model.SalePackage" >
    insert into salepackage (id, m_id, ph_id, 
      available_time, price)
    values (#{id,jdbcType=INTEGER}, #{mId,jdbcType=INTEGER}, #{phId,jdbcType=INTEGER}, 
      #{availableTime,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.model.SalePackage" >
    insert into salepackage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mId != null" >
        m_id,
      </if>
      <if test="phId != null" >
        ph_id,
      </if>
      <if test="availableTime != null" >
        available_time,
      </if>
      <if test="price != null" >
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mId != null" >
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="phId != null" >
        #{phId,jdbcType=INTEGER},
      </if>
      <if test="availableTime != null" >
        #{availableTime,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.model.SalePackage" >
    update salepackage
    <set >
      <if test="mId != null" >
        m_id = #{mId,jdbcType=INTEGER},
      </if>
      <if test="phId != null" >
        ph_id = #{phId,jdbcType=INTEGER},
      </if>
      <if test="availableTime != null" >
        available_time = #{availableTime,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.model.SalePackage" >
    update salepackage
    set m_id = #{mId,jdbcType=INTEGER},
      ph_id = #{phId,jdbcType=INTEGER},
      available_time = #{availableTime,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>