<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.party.dao.ActivityMapper" >
  <resultMap id="BaseResultMap" type="com.hust.party.pojo.Activity" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="enterprise_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="word" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="picture" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="video" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="feature" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="contain_people" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="preferential_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="original_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, enterprise_id, title, word, picture, video, feature, contain_people, preferential_price, 
    original_price, address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hust.party.pojo.Activity" >
    insert into activity (id, enterprise_id, title, 
      word, picture, video, 
      feature, contain_people, preferential_price, 
      original_price, address)
    values (#{id,jdbcType=INTEGER}, #{enterpriseId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{word,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, 
      #{feature,jdbcType=VARCHAR}, #{containPeople,jdbcType=INTEGER}, #{preferentialPrice,jdbcType=DECIMAL}, 
      #{originalPrice,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.party.pojo.Activity" >
    insert into activity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="feature != null" >
        feature,
      </if>
      <if test="containPeople != null" >
        contain_people,
      </if>
      <if test="preferentialPrice != null" >
        preferential_price,
      </if>
      <if test="originalPrice != null" >
        original_price,
      </if>
      <if test="address != null" >
        address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        #{feature,jdbcType=VARCHAR},
      </if>
      <if test="containPeople != null" >
        #{containPeople,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null" >
        #{preferentialPrice,jdbcType=DECIMAL},
      </if>
      <if test="originalPrice != null" >
        #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.party.pojo.Activity" >
    update activity
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="feature != null" >
        feature = #{feature,jdbcType=VARCHAR},
      </if>
      <if test="containPeople != null" >
        contain_people = #{containPeople,jdbcType=INTEGER},
      </if>
      <if test="preferentialPrice != null" >
        preferential_price = #{preferentialPrice,jdbcType=DECIMAL},
      </if>
      <if test="originalPrice != null" >
        original_price = #{originalPrice,jdbcType=DECIMAL},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.party.pojo.Activity" >
    update activity
    set enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      word = #{word,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      feature = #{feature,jdbcType=VARCHAR},
      contain_people = #{containPeople,jdbcType=INTEGER},
      preferential_price = #{preferentialPrice,jdbcType=DECIMAL},
      original_price = #{originalPrice,jdbcType=DECIMAL},
      address = #{address,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>