<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.party.dao.EnterpriseMapper" >
  <resultMap id="BaseResultMap" type="com.hust.party.pojo.Enterprise" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="chat_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="licence" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="card" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="phone" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, chat_id, name, licence, username, card, phone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from enterprise
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from enterprise
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hust.party.pojo.Enterprise" >
    insert into enterprise (id, chat_id, name, 
      licence, username, card, 
      phone)
    values (#{id,jdbcType=INTEGER}, #{chatId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{licence,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{card,jdbcType=VARCHAR}, 
      #{phone,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.party.pojo.Enterprise" >
    insert into enterprise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chatId != null" >
        chat_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="licence != null" >
        licence,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="card != null" >
        card,
      </if>
      <if test="phone != null" >
        phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chatId != null" >
        #{chatId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="licence != null" >
        #{licence,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        #{card,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.party.pojo.Enterprise" >
    update enterprise
    <set >
      <if test="chatId != null" >
        chat_id = #{chatId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="licence != null" >
        licence = #{licence,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="card != null" >
        card = #{card,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.party.pojo.Enterprise" >
    update enterprise
    set chat_id = #{chatId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      licence = #{licence,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      card = #{card,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>