<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.party.dao.KuaiDiProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.hust.party.pojo.KuaiDiProvince" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, province, province_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kuaidi_province
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kuaidi_province
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hust.party.pojo.KuaiDiProvince" >
    insert into kuaidi_province (id, province, province_name
      )
    values (#{id,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hust.party.pojo.KuaiDiProvince" >
    insert into kuaidi_province
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="provinceName != null" >
        province_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hust.party.pojo.KuaiDiProvince" >
    update kuaidi_province
    <set >
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hust.party.pojo.KuaiDiProvince" >
    update kuaidi_province
    set province = #{province,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!-- 分页查詢 -->
  <select id="select" parameterType="Map" resultMap="BaseResultMap">
    SELECT *
    FROM kuaidi_province
    WHERE 1=1
    <if test="province != null" >
      and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="provinceName != null" >
      and province_name = #{provinceName,jdbcType=VARCHAR}
    </if>
  </select>
  <!-- 查詢数量 -->
  <select id="selectCount" parameterType="com.hust.party.pojo.UserMoney"
          resultType="Integer">
    SELECT count(*)
    FROM kuaidi_province
    WHERE 1=1
    <if test="province != null" >
      and province = #{province,jdbcType=VARCHAR}
    </if>
    <if test="provinceName != null" >
      and province_name = #{provinceName,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>