<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.party.dao.RolePermMapper" >
  <resultMap id="BaseResultMap" type="com.hust.party.pojo.RolePerm" >
    <result column="rolecode" property="rolecode" jdbcType="INTEGER" />
    <result column="percode" property="percode" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.hust.party.pojo.RolePerm" >
    insert into role_perm (rolecode, percode)
    values (#{rolecode,jdbcType=INTEGER}, #{percode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.party.pojo.RolePerm" >
    insert into role_perm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rolecode != null" >
        rolecode,
      </if>
      <if test="percode != null" >
        percode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rolecode != null" >
        #{rolecode,jdbcType=INTEGER},
      </if>
      <if test="percode != null" >
        #{percode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>