<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hust.party.dao.UserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.hust.party.pojo.UserRole" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="rolecode" property="rolecode" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.hust.party.pojo.UserRole" >
    insert into user_role (id, rolecode)
    values (#{id,jdbcType=VARCHAR}, #{rolecode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hust.party.pojo.UserRole" >
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolecode != null" >
        rolecode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rolecode != null" >
        #{rolecode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>